{% extends 'base.html' %}
{% block body %}

<div class="container">
    <div class="row">
        <div class="md-col-6">
            <img src="{{film.image.url}}" width="300" height="300">
        </div>
        <div class="md-col-6" >
            <b>Movie Name</b> : <h5><i>{{film.name}}</i></h5>
            <b>Description</b> : <h5><i>{{ film.desc}}</i></h5>
            <b>Released Year</b> :<i></i><h5>{{ film.year}}</i></h5>
            <a class="btn btn-primary" href="{% url 'filmapp:edit' film.id %}">Edit</a>
            <a class="btn btn-danger" href="{% url 'filmapp:delete' film.id %}">Delete</a>
        </div>

    </div>
</div>
{% endblock %}